<div class="row">
    <div class="col-3 mr-5 mt-3" *ngFor="let pokemon of pokemonList; let i = index">
      <div class="card" style="width: 18rem;">
        <img [src]="getImage(pokemon.url)" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{pokemon.name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-body">
        <a [routerLink]="['/pokemon',pokemon.name]">POKE Info</a>
        </div>
      </div>
    </div>
  </div>